.playground-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 10%;  /* Adjust this as needed */
    padding-right: 10%;  /* Adjust this as needed */
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playground-container h2 {
    text-align: center;
    margin-top: 100px; /* Adjust this value to move the title as required */
    margin-bottom: 25px;
}

.playground-container h3 {
    text-align: center;
    margin-bottom: 50px;
}

/* This creates a container with a 16:9 aspect ratio */
.canvas-container {
    position: relative;
    width: 100%; 
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    background: #D7D7D7;
    margin: 0 auto; /* Center the canvas horizontally */
}

.canvas-container > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.canvas-and-controls {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the direct children */
}

.control-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 10px;  /* Space between canvas and buttons */
    align-self: flex-start;  /* This overrides the parent's align-items and aligns the buttons to the left */
}


.canvas-container {
    position: relative;
    width: 100%; 
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    background: #D7D7D7;
    margin: 0 auto; /* Center the canvas horizontally */
}


.control-buttons button {
    background: transparent;
    border: none;
    color: #011526;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}


.control-buttons button:first-child {
    background: #FFBE00; /* Only the first button has the yellow background */
    color: #011526;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Added a subtle shadow for depth */
}

.control-buttons button:hover {
    transform: scale(1.1);
}
