/* SocialButton.css */
.social-button {
    width: 15%; /* Adjust as needed */
    height: 15%; /* Adjust as needed */
    border: none;
    background: #6b7884;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 50%; /* Make the edges fully rounded */
    margin-top: 2%; /* Adjust as needed */
}
  
.social-button:hover {
    transform: scale(1.22);
}
  
.social-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
