div {
  border: 1px solid red;
}

.skills-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10%;
  height: 100vh; /* To ensure it spans the full height of the viewport */
}

.content-container {
  display: flex; /* We use flexbox to achieve side-by-side layout */
  width: 90%;
  height: 100%;
}

.text-section-skills {
  width: 45%; /* 45% width */
  height: 100%;
  box-sizing: border-box;
  padding: 20px; /* added some padding for better visuals */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.three-canvas {
  width: 55%; /* 50% width */
  height: 100%;
  box-sizing: border-box;
  /* No need for absolute positioning and associated styles */
}

.text-section-skills {
  left: 0; /* Anchoring text-section to the left of the parent */
}

.three-canvas {
  right: 0; /* Anchoring p5-canvas to the right of the parent */
}

.skill-button {
  width: 50px; /* example size, adjust as needed */
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

/* For each button, set a unique background color */
.skill-button.backend { background-color: blue; }
.skill-button.frontend { background-color: white; }
.skill-button.game-dev { background-color: red; }
.skill-button.data-sci { background-color: yellow; }
.skill-button.soft-skills { background-color: green; }
.skill-button.misc { background-color: orange; }

/* Rest of your styles remain the same */
