.skills-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10%;
  height: 100vh; /* To ensure it spans the full height of the viewport */
}

.content-container {
  display: flex; /* Set up a row of two items */
  width: 90%; /* Take up 90% of the viewport width */
  height: 100%;
  /*padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative; /* So that the child elements can be positioned relative to this */
  justify-content: space-between; /* Space between the two sections */
}

.text-section-skills {
  width: 55%; /* Each section will take up 40% of the viewport width */
  height: 100%; /* Take the full height of their container */
  border: 1px solid black; /* Just for visualization, you can remove this later */
  box-sizing: border-box; /* To ensure border doesn't add extra width */
  position: absolute; /* Absolute positioning inside the relative parent */
  bottom: 0; /* Anchoring to the bottom of the parent */
}

.p5-canvas {
  width: 40%; /* Each section will take up 40% of the viewport width */
  height: 100%; /* Take the full height of their container */
  border: 1px solid black; /* Just for visualization, you can remove this later */
  box-sizing: border-box; /* To ensure border doesn't add extra width */
  position: absolute; /* Absolute positioning inside the relative parent */
  bottom: 0; /* Anchoring to the bottom of the parent */
}

.text-section-skills {
  left: 0; /* Anchoring text-section to the left of the parent */
}

.p5-canvas {
  right: 0; /* Anchoring p5-canvas to the right of the parent */
}

/* Rest of your styles remain the same */
