.skills-page {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 80vh; /* setting the height to 80% of viewport height */
  margin: 10% auto;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.text h1 {
  color: #011526;
  text-align: center;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 20px; /* added margin to create space below the heading */
  margin-top: 30%;
}

.text p {
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px; /* added margin to create space below the heading */
  margin-top: 20px;
}

.three-cube-class {
  width: 60%;
}

.color-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}


.color-buttons-container button {
  border-radius: 10px;  /* Make it a rounded rectangle instead of a circle */
  width: 120px;        /* Increase size */
  height: 120px;
  border: none;
  background-color: black;  /* Set default background to black */
  position: relative;  /* This is important to position the ::before element correctly */
  overflow: hidden;  /* Hide anything that goes out of the button boundaries */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Create the inner colored square using ::before pseudo-element */
.color-buttons-container button::before {
  content: "";
  width: 100px;  /* Size of the inner square */
  height: 100px;
  border-radius: 10px;  /* Rounded corners for inner square */
  position: absolute;
  
}

.color-buttons-container .white-button::before {
  background-color: #FFFFFF;
}

.color-buttons-container .green-button::before {
  background-color: #009b48;
}

.color-buttons-container .blue-button::before {
  background-color: #2962ff;
}

.color-buttons-container .yellow-button::before {
  background-color: #FFBE00;
}

.color-buttons-container .red-button::before {
  background-color: #D50000;
}

.color-buttons-container .orange-button::before {
  background-color: #FF7900;
}

/* Mobile responsive design */
@media (max-width: 768px) {
  .skills-page {
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 5% auto;
  }

  .content-left, .three-cube-class {
      width: 100%;
  }
}
