/* Add this to your global CSS file, or at the top of your LandingPage.css file */

/* LandingPage.css */
.landing-page-container {
  height: 100vh; /* viewport height */
  max-width: 100vw; /* viewport width */
  position: relative; /* establish new positioning context */
  padding-bottom: 1px; /* prevent unwanted scroll */
}

/* Initially set the scrollbar to be transparent */
::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Only show the scrollbar when the user hovers over the scrollable area */
scrollable-element:hover::-webkit-scrollbar-thumb {
  background: #888; 
}
