header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center; /* To center the navbar */
    padding: 10px;
    width: 100%;
    z-index: 1;
}

.gradient-nav {
    background: linear-gradient(to right, #000, #333);
    border-radius: 10px;
    padding: 10px 20px; /* To provide some spacing inside the navbar */
    display: inline-block; /* So it only takes as much space as it needs */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 5px; /* Adjust margin between items */
}

nav ul li a {
    display: inline-block;
    color: #D7D7D7;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px; /* Increased to make it more rounded */
    transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

nav ul li a:hover {
    transform: scale(1.05); /* Subtle scale on hover */
}
/* Active tab styles */
nav ul li a.active {
    color: #011526;
    background-color: #FFBE00;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px; /* Making it more squared */
}

/* Different active colors based on your design */
nav ul li:nth-child(2) a.active {
    background-color: #34D399; /* Green */
    border-radius: 5px; /* Making it more squared */
}

nav ul li:nth-child(3) a.active {
    background-color: #3B82F6; /* Blue */
    border-radius: 5px; /* Making it more squared */
}

nav ul li:nth-child(4) a.active {
    background-color: #DC2626; /* Red */
    border-radius: 5px; /* Making it more squared */
}

/* Responsive styling - Adjust this part based on your needs */
@media only screen and (max-width: 768px) {
    .gradient-nav {
        padding: 5px 10px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 5px 10px;
    }
}
