/* LogoImage.css */
.logo-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
    width: 10%; /* 1/3 of the container's width */
    height: 20%; /* 1/2 of the container's height */
    padding: 10px; /* Add some padding */
  }
  
.image-wrapper {
    width: 100%; /* Full width */
    padding-bottom: 100%; /* Make it square */
    position: relative; /* Make it a positioned parent */
  }
  
  .logo-image img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: contain; /* Ensure the entire logo fits within the container without cropping */
}

  
  .logo-image p {
    text-align: center;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    white-space: nowrap; /* Prevent text from wrapping */
  }