/* HomeButton.css */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .home-button {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFBE00;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Added a subtle shadow for depth */
  }
  
  .home-button img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
  
  .home-button:hover {
    transform: scale(1.22);
  }
  